<!-- ページタイトル -->
<h2>{{pageTitle}}</h2>
<!-- フォーム -->
<form [formGroup]="todoFormGroup" class="todo-form">
  <!-- カテゴリ　ラジオボタン -->
  <p>
    <mat-radio-group *ngIf="(allCategory$ | async) as allCategory" formControlName="categoryId">
      <mat-label class="todo-form__category-label">カテゴリ</mat-label>
      <mat-radio-button class="todo-form__category-item" *ngFor="let category of allCategory" [value]="category.id" [style.--color]="category.color | colorToRgb">{{category.slug}}</mat-radio-button>
    </mat-radio-group>
    <mat-error *ngIf="todoFormGroup.get('categoryId')?.hasError('required')">
      カテゴリは必須です
    </mat-error>
  </p>
  <!-- タイトル input text -->
  <p>
    <mat-form-field class="todo-form__title">
      <mat-label>タイトル</mat-label>
      <input type="text" matInput matType="text" formControlName="title">
    </mat-form-field>
    <mat-error *ngIf="todoFormGroup.get('title')?.hasError('required')">
      タイトルは必須です
    </mat-error>
    <mat-error *ngIf="todoFormGroup.get('title')?.hasError('maxlength')">
      255文字以内で入力してください
    </mat-error>
  </p>
  <!-- 本文 textarea -->
  <p><mat-form-field class="todo-form__body">
    <mat-label>本文</mat-label>
    <textarea matInput formControlName="body"></textarea>
  </mat-form-field></p>
  <!-- ステータス　ラジオボタン -->
  <!-- valueではstate.codeを扱っている -->
  <p>
    <mat-radio-group formControlName="stateCode">
      <mat-label class="todo-form__state-label">ステータス</mat-label>
      <mat-radio-button class="todo-form__state-item" *ngFor="let state of stateOptArray" [value]="state.code">{{state.name}}</mat-radio-button>
    </mat-radio-group>
    <mat-error *ngIf="todoFormGroup.get('stateCode')?.hasError('required')">
      ステータスは必須です
    </mat-error>
  </p>
  <!-- ボタン 追加フォームの場合 -->
  <button *ngIf="(!selectedTodo) && (!isRequesting)" [disabled]="todoFormGroup.invalid" (click)="addTodo()" color="primary" mat-raised-button>追加</button>
  <!-- ボタン　更新フォームの場合 -->
  <button *ngIf="selectedTodo && (!isRequesting)" [disabled]="todoFormGroup.invalid" (click)="updateTodo()" color="primary" mat-raised-button>更新</button>
  <mat-spinner *ngIf="isRequesting" [diameter]="30"></mat-spinner>
</form>
