<div class="category-list-component">
  <h2 class="category-list-component__title">カテゴリ 一覧</h2>
  <mat-spinner *ngIf="!(allCategory$ | async)"></mat-spinner>
  <mat-card class="category-item" *ngFor="let category of (allCategory$ | async)">
    <!-- 名前 -->
    <mat-card-title class="category-item__name">{{category.name}}</mat-card-title>
    <!-- 補足情報 -->
    <mat-card-subtitle class="category-item__sub-info">
      <!-- カテゴリの色 -->
      <fa-icon class="category-item__color" [icon]="faCircle" [style.color]="category.color | colorToRgb"></fa-icon>
      <!-- カテゴリのスラグ -->
      <span class="category-item__slug">{{category.slug}}</span>
    </mat-card-subtitle>
    <!-- フッター -->
    <mat-card-actions class="category-item__footer">
      <!-- 更新ボタン -->
      <button class="category-item__edit-btn" (click)="showEditDialog(category)" mat-icon-button>
        <fa-icon [icon]="faEdit"></fa-icon>
      </button>
      <!-- 削除ボタン -->
      <button class="category-item__delete-btn" (click)="deleteCategory(category.id)" mat-icon-button>
        <fa-icon [icon]="faTrashAlt"></fa-icon>
      </button>
    </mat-card-actions>
  </mat-card>
  <!-- 追加ボタン -->
  <button class="category-list-component__store-btn" (click)="showStoreDialog()" mat-fab>
    <fa-icon class="category-list-component__store-icon" [icon]="faPlus"></fa-icon>
  </button>
</div>
