<!-- ページタイトル -->
<h2>{{pageTitle}}</h2>
<!-- フォーム -->
<form [formGroup]="todoFormGroup">
  <!-- カテゴリ　ラジオボタン -->
  <div>
    <mat-radio-group *ngIf="(categories$ | async) as categories" formControlName="categoryId">
      <mat-radio-button *ngFor="let category of categories" [value]="category.id" [style.--color]="category.color | colorToRgb">{{category.slug}}</mat-radio-button>
    </mat-radio-group>
    <mat-error *ngIf="todoFormGroup.get('categoryId')?.hasError('required')">
      カテゴリは必須です
    </mat-error>
  </div>
  <!-- タイトル input text -->
  <div>
    <mat-form-field>
      <input type="text" matInput matType="text" formControlName="title" placeholder="タイトル">
    </mat-form-field>
    <mat-error *ngIf="todoFormGroup.get('title')?.hasError('required')">
      タイトルは必須です
    </mat-error>
    <mat-error *ngIf="todoFormGroup.get('title')?.hasError('maxlength')">
      255文字以内で入力してください
    </mat-error>
  </div>
  <!-- 本文 textarea -->
  <div><mat-form-field>
    <textarea matInput formControlName="body" placeholder="本文"></textarea>
  </mat-form-field></div>
  <!-- ステータス　ラジオボタン -->
  <!-- valueではstate.codeを扱っている -->
  <div>
    <mat-radio-group formControlName="stateCode">
      <mat-radio-button *ngFor="let state of stateOptArray" [value]="state.code">{{state.name}}</mat-radio-button>
    </mat-radio-group>
    <mat-error *ngIf="todoFormGroup.get('stateCode')?.hasError('required')">
      ステータスは必須です
    </mat-error>
  </div>
  <!-- ボタン 追加フォームの場合 -->
  <button *ngIf="!selectedTodo" [disabled]="todoFormGroup.invalid" (click)="addTodo()" color="primary" mat-raised-button>追加</button>
  <!-- ボタン　更新フォームの場合 -->
  <button *ngIf="selectedTodo" [disabled]="todoFormGroup.invalid" (click)="updateTodo()" color="primary" mat-raised-button>更新</button>
</form>
